.disabled-lesson {
    opacity: .55;
    cursor: not-allowed;
}

.video-guard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 20;
}
