@{
    ViewData["Title"] = "About Us";
}


<div class="account-container">
    <div class="account-box">
        <h2 class="text-center"> Welcome to Bangladesh Ophthalmology Career Solutions(BOCS) </h2>
    </div>
</div>
<!-- Include protection CSS & JS -->
<link href="~/css/Protect-course-info.css" rel="stylesheet" />
<script src="~/js/protect-course-info.js" asp-append-version="true"></script>