@{
    ViewData["Title"] = "About Us";
}


<div class="account-container">
    <div class="account-box">
        <h2 class="text-center"> Welcome to Bangladesh Ophthalmology Career Solutions(BOCS) </h2>
    </div>
</div>